* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-container {
  width: 68%;
  margin: auto;
}

section {
  padding: 100px 0;
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

#manu {
  width: 60%;
}

#manu li a {
  color: #616161;
  font-weight: 500;
}

#manu #btn-1 {
  background-color: #00D1AB;
}

#manu #btn-2 {
  color: #080a3c;
  background-color: transparent;
}

#home-banner {
  background-color: #fff;
  padding: 0;
}

#home-banner-container {
  height: 100vh;
}

#home-banner-container #home-banner-text {
  position: absolute;
  width: 30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#home-banner-container #home-banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #080a3c;
}

#home-banner-container #home-banner-text p {
  color: #616161;
  font-size: 1.1em;
}

#home-banner-container #home-banner-text button {
  background-color: #080a3c;
}

#home-banner-container #home-banner-text button i {
  color: #ff612f;
}

@-webkit-keyframes imgAnimation {
  0% {
    border-radius: 500px 400px 300px 500px;
  }
  25% {
    border-radius: 200px 500px 200px 400px;
  }
  50% {
    border-radius: 250px 350px 250px 250px;
  }
  75% {
    border-radius: 400px 300px 500px 300px;
  }
  100% {
    border-radius: 500px 400px 300px 500px;
  }
}

@keyframes imgAnimation {
  0% {
    border-radius: 500px 400px 300px 500px;
  }
  25% {
    border-radius: 200px 500px 200px 400px;
  }
  50% {
    border-radius: 250px 350px 250px 250px;
  }
  75% {
    border-radius: 400px 300px 500px 300px;
  }
  100% {
    border-radius: 500px 400px 300px 500px;
  }
}

#img-block {
  width: 42%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../src/Image/Home/Banner/animate-banner-img1.jpg");
  background-size: cover;
  border-radius: 0 0 0 100px;
}

#img-block img {
  -webkit-animation-name: imgAnimation;
          animation-name: imgAnimation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#home-category {
  background-color: #f8fbfa;
}

#home-category .home-category-item {
  padding: 10px;
}

#home-category .home-category-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0.1px rgba(141, 141, 141, 0.2);
          box-shadow: 0 0 10px 0.1px rgba(141, 141, 141, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#home-category .home-category-wrapper i {
  width: 80px;
  height: 80px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(48, 188, 253, 0.089);
  color: #00D1AB;
  margin: 20px;
}

#home-category .home-category-wrapper p {
  color: #616161;
}

#home-category .home-category-wrapper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 20px 0.3px rgba(141, 141, 141, 0.2);
          box-shadow: 0 0 20px 0.3px rgba(141, 141, 141, 0.2);
}

#home-services {
  padding: 50px 0;
}

#home-services .services-img-block {
  padding: 50px;
}

#home-services .row:last-child {
  background-color: #F4F6FC;
  position: relative;
  overflow: hidden;
}

#home-services .row:last-child img {
  position: relative;
  z-index: 1;
}

#home-services .row:last-child:after {
  content: "";
  width: 1000px;
  height: 1000px;
  background-color: #00D1AB;
  position: absolute;
  left: -400px;
  top: -100px;
  z-index: 0;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}
/*# sourceMappingURL=App.css.map */